@import "variables";

body {
  @include centered-flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  height: 100vh;
  background-color: $Dark-cyan;
  background-image: url(../images/bg-pattern-top.svg),
  url(../images/bg-pattern-bottom.svg);
  background-position: right calc(52vw) bottom calc(30vh), left calc(47vw) top calc(52vh);
  background-repeat: no-repeat;
}

.container {
  position: absolute;
  height: 360px;
  width: 330px;
  border-radius: 10px;

  .profile-container {
    @include centered-flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: $profile-height;
    border-bottom: 1px solid rgb(228, 227, 227);

    .top-box {
      background-image: url(../images/bg-pattern-card.svg);
      position: relative;
      width: 100%;
      height: 50%;
      border-radius: 15px 15px 0 0;
    }
    .bottom-box {
      @include centered-flex;
      position: relative;
      background-color: white;
      width: 100%;
      height: 50%;

      .profile-name {
        @include font-weight(700);
        color: $Very-dark-desaturated-blue;
        margin-top: 15%;
        font-size: 1.1rem;

        .age-number {
          @include font-weight(400);
          color: $Dark-grayish-blue;
          padding-left: 3px;
        }
        .country {
          color: $Dark-gray;
          font-size: 0.85rem;
          margin-top: 10px;
          @include font-weight(400);
        }
      }
    }
    .picture {
      position: absolute;
      border-radius: 100%;
      border: 5px solid white;
    }
  }
  .media-data {
    @include font-weight(700);
    @include centered-flex;
    background-color: white;
    height: 100 - $profile-height;
    width: 100%;
    justify-content: space-evenly;
    border-radius: 0 0 15px 15px;

    .media-names {
      @include font-weight(400);
      color: $Dark-gray;
      font-size: 0.7rem;
      margin-top: 7px;
      letter-spacing: 1px;
    }
    .media-numbers {
      @include font-weight(700);
      color: $Very-dark-desaturated-blue;
    }
  }
  footer {
    position: absolute;
    bottom: -75px;
    font-size: 0.8rem;
    @include font-weight(700);
  }
}

@media screen and (max-width: 375px) {
  body{
    height: 700px;
    overflow: auto;
  }
}
