@import "variables";

body {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 50px;
  height: 100vh;
  width: 100vw;
}

.container {
  height: 375px;
  width: 330px;
  border-radius: 10px;

  .profile-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $profile-height;
    border-bottom: 1px white groove;

    .top-box {
      background-image: url(../images/bg-pattern-card.svg);
      position: relative;
      width: 100%;
      height: 50%;
      border-radius: 10px 10px 0 0;
    }
    .bottom-box {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      width: 100%;
      height: 50%;

      .profile-name {
        @include font-weight(700);
        margin-top: 15%;

        .age-number {
          @include font-weight(400);
        }
        .country {
          margin-top: 10px;
          @include font-weight(400);
        }
      }
    }
    .picture {
      position: absolute;
      border-radius: 100%;
      border: 5px solid white;
    }
  }
  .media-data {
    @include font-weight(700);
    background-color: white;
    height: 100 - $profile-height;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0 0 10px 10px;

    .media-names {
      @include font-weight(400);
      font-size: 0.8rem;
      margin-top: 7px;
    }
  }
}
footer{
    position: absolute;
    bottom: 5px;
}