@import "variables";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 130vh;
  width: 100vw;
  background-color: $Dark-cyan;
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg);
  background-position: -790px -550px, 130px 310px;
  background-repeat: no-repeat;
}

.container {
  position: absolute;
  height: 360px;
  width: 330px;
  border-radius: 10px;

  .profile-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $profile-height;
    border-bottom: 1px solid rgb(228, 227, 227);

    .top-box {
      background-image: url(../images/bg-pattern-card.svg);
      position: relative;
      width: 100%;
      height: 50%;
      border-radius: 15px 15px 0 0;
    }
    .bottom-box {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      width: 100%;
      height: 50%;

      .profile-name {
        @include font-weight(700);
        margin-top: 15%;
        font-size: 1.1rem;

        .age-number {
          @include font-weight(400);
          color: grey;
          padding-left: 3px;
        }
        .country {
          color: grey;
          font-size: 0.85rem;
          margin-top: 10px;
          @include font-weight(400);
        }
      }
    }
    .picture {
      position: absolute;
      border-radius: 100%;
      border: 5px solid white;
    }
  }
  .media-data {
    @include font-weight(700);
    background-color: white;
    height: 100 - $profile-height;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0 0 15px 15px;

    .media-names {
      @include font-weight(400);
      color: grey;
      font-size: 0.7rem;
      margin-top: 7px;
      letter-spacing: 1px;
    }
  }
  footer {
    position: absolute;
    bottom: -75px;
    font-size: 0.8rem;
    @include font-weight(700);
  }
}

@media screen and (min-width: 1080px) {
  body {
    height: 100vh;
    overflow: hidden;
    background-position: -320px -550px, 640px 330px;
  }
}
